<div class="container mt-4">
    <div class="card">
        <div class="card-body">  
            <span class="h3">Listado de Empleados</span>
            <button class="btn btn-dark btn-lg float-end" routerLink="/create-empleado">Agregar</button>
            <table class="table table-striped mt-5">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Documento</th>
                        <th>Salario</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tomas</td>
                        <td>Perez</td>
                        <td>99814566T</td>
                        <td>25000</td>
                        <td>
                            <i class="fas fa-edit fa-lg text-info mx-3"></i>
                            <i class="fas fa-trash-alt fa-lg text-danger"></i> 
                        </td>
                    </tr>
                    <tr>
                        <td>Irene</td>
                        <td>Ramirez</td>
                        <td>99814566T</td>
                        <td>25000</td>
                        <td>
                            <i class="fas fa-edit fa-lg text-info mx-3"></i>
                            <i class="fas fa-trash-alt fa-lg text-danger"></i> 
                        </td>
                    </tr>
                    <tr>
                        <td>Carlos</td>
                        <td>Perez</td>
                        <td>99814566T</td>
                        <td>25000</td>
                        <td>
                            <i class="fas fa-edit fa-lg text-info mx-3"></i>
                            <i class="fas fa-trash-alt fa-lg text-danger"></i> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>